footer {
    background-color: var(--base-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2rem;
    height: 12vh;
    color: #fff;
    margin-top: -32px;
}


